.App{
    background-color: #222240;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(220.20, 52%, 43%) 0, transparent 55%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    overflow-x: hidden; 
}